/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
 
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
 
body {
    line-height:1;
}
 
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
 
nav ul {
    list-style:none;
}
 
blockquote, q {
    quotes:none;
}
 
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
 
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
 
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
 
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
 
del {
    text-decoration: line-through;
}
 
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
 
table {
    border-collapse:collapse;
    border-spacing:0;
}
 
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
 
input, select {
    vertical-align:middle;
}/*!
Theme Name: recruit
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: recruit
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

recruit is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */
*{
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
	text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

.btn-flat-border {
  display: inline-block;
  padding: 10px 120px;
  text-decoration: none;
  color: #67c5ff;
  border: solid 1px #67c5ff;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}
.btn-flat-border-outer{
	text-align: center;
}
/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
	vertical-align: bottom;
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #3fa5f5;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}
header nav ul li a:hover{
	color: #3FA5F5;
}
a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.company_page h3{
	font-size: 20px;
	color: #3fa5f5;
	margin-bottom: 20px;
}
.main-navigation {
	clear: both;
	width: 100%;
}

.footer_inner .main-navigation{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
	align-items: center; /* 縦方向中央揃え */
	justify-content: center;
}
.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
	margin-right: 50px;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

footer{
	background-color: #F2F3F5;
	padding: 100px 0px;
}
.footer_inner{
	max-width: 1350px;
	margin: 0 auto;
}

.footer_logo{
	text-align: center;
	margin-bottom: 50px;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.companymessage{
	background-image: url("common/image/top/companymessage.png");
	background-attachment: scroll;
	background-position: center;
	background-size: cover;
  background-repeat: no-repeat;
}

.companymessage span{
	font-size: 35px;
	color: #3FA5F5;
	font-weight: bold;
}

.companymessage .inner{
	max-width: 1000px;
	margin: 0 auto;
	padding:100px 0px;
}
.companymessage .inner img{
	text-align: center;
}
.companymessage .inner p{
	text-align: center;
	margin-bottom: 20px;
}

.section_top_about{
	position: relative;
	background-color: #F2F3F5;
}
.section_top_about .section_top_header{
	background-image: url("common/image/top/top_company.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 75px 0px;
}

.section_top_staff .section_top_header{
	background-image: url("common/image/top/top_staff.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 75px 0px;
}


.borderbox{
	width: 100%;
	max-width: 1000px;
	border: solid 1px #ffffff;
	margin: 0 auto;
}
.borderbox h2{
	color: #FFFFFF;
	text-align: center;
	padding: 90px;
	font-size: 30px;
}

.top_about_list{
	max-width: 1350px;
	padding: 100px 0px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.top_about_item{
	width: 30.37037037037037%;
	background-color: #ffffff;
	margin-right: 20px;
}
.top_about_list div.top_about_item:last-child{
	margin-right: 0px;
}

.top_about_item p:last-child{
	padding: 30px 25px;
}

.top_about_item_name {
	position: absolute;
	top: -28px;
	left: 0px;
	width: 58.536585365853654%;
	background-color: #FF7F00;
	padding: 8px 0px;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
}
.top_about_textbox{
	position: relative;
}

.section_top_staff{
	position: relative;
	background-color: #F2F3F5;
}

.top_staff_list{
	max-width: 1350px;
	padding: 100px 0px;
	margin: 0 auto;
}

.top_staff_list .list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 50px;
}

.top_staff_item{
	width: 32.96296296296296%;
	background-color: #ffffff;
	position: relative;
	margin-right: 0.3703703703703704%;
}

.top_staff_item_textbox{
	padding: 30px 25px;
}

.top_staff_item_name{
	text-align: right
}

.top_staff_list div.top_staff_item:last-child{
	margin-right: 0px;
}
.section_top_blog{
	  position: relative;
    background-color: #F2F3F5;
}
.section_top_blog .section_top_header{
	background-image: url("common/image/top/top_blog.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 75px 0px;
}
.header_interview{
	background-image: url("common/image/top/top_blog.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.top_blog_list{
	max-width: 1350px;
	padding: 100px 0px;
	margin: 0 auto;
}
.top_blog_list .list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 30px;
}
.top_blog_item{
	width: 32.96296296296296%;
	background-color: #ffffff;
	position: relative;
	margin-right: 0.3703703703703704%;
	margin-bottom: 20px;
}

div.top_blog_list div:last-child{
	margin-right: 0px;
}
.top_blog_item_text{
	padding: 20px;
}

.section_top_banner{
	max-width: 1350px;
	padding: 100px 0px;
	margin: 0 auto;
}
.banner{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.banner a{
	margin-right: 1px;
	width: 49.925925925925924%;
}
.banner a:last-child{
	margin-right: 0px;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}
.nav-links{
	display: flex;
	justify-content: center;
}
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	width: 45%;
	background-color: #f2f3f5;
	padding: 30px;
	margin-right: 10px;
	display: flex;
}
.nav-previous a{
	padding: 10px;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	width: 45%;
	background-color: #f2f3f5;
	padding: 30px;
	display: flex;
}
.nav-next a{
	padding: 10px;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
/*PCのスタイル*/
ul{
	list-style: none;
}
header nav ul{
	display: flex;
	align-items: center;
	
}
header nav ul li a{
	color: #333333;
	text-decoration: none;
	font-weight: bold;
	padding: 0px 10px;
}
header .inner{
		display: flex;
		max-width: 1350px;
		margin: 0 auto;
		padding: 30px 0px;
	}
header .inner nav{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
	align-items: center; /* 縦方向中央揃え */
	justify-content: flex-end;
	margin-left: auto;
	}
#nav_toggle{
	display: none;
}

footer .footer_inner ul{
	display: flex;
	justify-content: center;
}

footer .footer_inner ul li{
	margin-right: 50px;
}
footer .footer_inner ul li:last-child{
	margin-right: 0px;
}


.title_wrap{
	padding: 133px 0px;
	text-align: center;
	color: #ffffff;
}
.title_wrap span{
	font-size: 25px;
}

.aboutbox h3{
	color: #3FA5F5;
	font-size: 30px;
	margin-bottom: 35px;
}
.main_sub{
	padding: 100px 0px;
}

.contents_wrap{
	max-width: 1350px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.contents_wrap:last-child{
	margin-bottom: 0px;
}
.archive_news .contents_wrap{
	margin-bottom: 0px;
}
.detail_service{
	display: flex;
	flex-wrap: wrap;
}
.detail_service .text_wrap{
	width: 675px;
	padding: 10px;
}
.detail_service .img_wrap{
	width: 675px;
	padding: 10px;
}

.contents_entry{
	padding: 100px 0px;
}

.detail_profile{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: end;
	align-items: flex-end;
	flex-wrap: wrap;
	flex-direction: row-reverse;
}
.detail_profile .img_wrap{
	width: 65%;
}
.detail_profile .text_wrap{
	  width: 40%;
	padding-bottom: 50px;
    margin-right: -5%;
    position: relative;
    z-index: 1;
}

.detail_profile .text_wrap .inner{
	  padding: 40px 30px;
		box-sizing: border-box;
		background-color: #185789;
		color: #fff;
}
.detail_profile .text_wrap .inner h3{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}
.detail_profile .text_wrap .inner p{
	margin-bottom: 5px;
}
.detail_profile .text_wrap .inner p:last-child{
	margin-bottom: 0px;
	margin-top: 5px;
}
.box_interview{
	display: flex;
	flex-wrap: wrap;
}
.box_interview .img_wrap{
	width: 50%;
}
.box_interview .text_wrap{
	width: 48%;
	margin-left: 2%;
}
.box_interview h4{
	color: #3fa5f5;
	margin-bottom: 20px;
}
.box_interview:nth-child(odd) {
	flex-direction: row-reverse;
}
.box_interview:nth-child(odd) .text_wrap{
	margin-left: 0px;
	margin-right: 2%;
}
.blog_box .inner{
	max-width: 960px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.blog_box .inner img{
	width: 100%;
	margin-bottom: 25px;
}

.title_wrap_blog{
    background-image: url("../../../wp-content/themes/recruit/common/image/top/top_company.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title_wrap_about{
    background-image: url("../../../wp-content/themes/recruit/common/image/top/top_company.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title_wrap_staffinterview{
	  background-image: url(../../../wp-content/themes/recruit/common/image/top/top_staff.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title_wrap_news{
	background-image: url(../../../wp-content/themes/recruit/common/image/top/top_blog.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.tblbox th {
  background: #0091D1;
  border: solid 1px #56C0E8;
  color: #fff;
  padding: 10px;
}
.tblbox td {
　border: solid 1px #56C0E8;
	padding: 10px;
}

.office_image{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}
.entrybtn{
	background-color: #3FA5F5;
	padding: 5px 20px;
	color: #ffffff;
}
.office_image img{
	width: 48.888888888888886%;
	margin-right: 2.2222222222222223%;
}
.office_image img:last-child{
	margin-right: 0px;
}

.access iframe{
	width: 100%;
	height: 500px;
	margin-bottom: 20px;
}



.archive_stafflist .headlineComment{
	max-width: 675px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 50px;
}
.archive_stafflist .headlineComment h3{
	font-size: 35px;
	color: #3FA5F5;
	font-weight: bold;
	margin-bottom: 25px;
}
.archive_stafflist .inner{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.archive_stafflist .inner .list{
	width: 32.96296296296296%;
	background-color: #ffffff;
	position: relative;
	margin-right: 0.3703703703703704%;
	margin-bottom: 20px;
}
.archive_stafflist .inner .list:last-child{
	margin-bottom: 0px;
}
.archive_stafflist .inner .textbox{
	padding: 30px 25px;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,.05);
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,.05);
}
.archive_stafflist .inner .textbox .item_name{
	text-align: right;
}

.archive_newslist .headlineComment{
	max-width: 675px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 50px;
}
.archive_newslist .headlineComment h3{
	font-size: 35px;
	color: #3FA5F5;
	font-weight: bold;
	margin-bottom: 25px;
}
.archive_newslist .inner{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.archive_newslist .inner .list{
	width: 32.96296296296296%;
	background-color: #ffffff;
	position: relative;
	margin-right: 0.3703703703703704%;
	margin-bottom: 20px;
}
.archive_newslist .inner .list:last-child{
	margin-bottom: 0px;
}
.archive_newslist .inner .textbox{
	padding: 30px 25px;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,.05);
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,.05);
}

.information_page .contents_wrap h3{
	font-size: 20px;
	color: #3fa5f5;
	margin-bottom: 20px;
}
.information_page .contents_wrap .tblbox th{
	width: 350px;
}
.wp-pagenavi{
	margin-top: 30px;
	text-align: center;
}
.nav-links{
	display: none;
}
.navi-box{
	display: flex;
	justify-content: center;
	margin-top: 25px;
}
.navi_bottom{
	display: flex;
	padding: 20px;
	background-color: #F2F3F5;
	margin-right: 10px;
	justify-content: center;
}
.navi_bottom:last-child{
	margin-right: 0px;
}
.navi_bottom .eyecatchbox img{
	margin-bottom: 0px;
	padding-right: 10px;
}
@media screen and (max-width: 896px){
header .inner h1{
		font-size: 0px;
	}
	header .inner{
		padding: 15px;
	}
	header .inner nav{
		display: none;
		position: absolute;
		top:58px;
		width: 100%;
		background: #3387c9;
		left: 0;
	}
	header nav ul{
		display: block;
		margin: 0 auto;
		width: 90%;
	}
	header nav ul li{
		margin: 0 auto;
		text-align: center;
		border-bottom: 1px solid #fff;
	}
	header nav ul li:last-child{
		border: none;
	}
	header nav ul li a{
		color: #ffffff;
		display: block; 
		padding: 15px;
	}
	
	/*開閉ボタン*/
	#nav_toggle{
		display: block;
		width: 40px;
		height: 29px;
		position: relative;
		top: 0px;
		z-index: 100;
		margin-left: auto;
	}
	#nav_toggle div {
		position: relative;
	}
	#nav_toggle span{
		display: block;
		height: 3px;
		background: #3fa5f5;
		position:absolute;
		width: 100%;
		left: 0;
		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;	
	}
	#nav_toggle span:nth-child(1){
		top:0px;
	}
	#nav_toggle span:nth-child(2){
		top:12px;
	}
	#nav_toggle span:nth-child(3){
		top:24px;
	}
	
	/*開閉ボタンopen時*/
	.open #nav_toggle span:nth-child(1) {
			top: 12px;
		   -webkit-transform: rotate(135deg);
			-moz-transform: rotate(135deg);
			transform: rotate(135deg);
		}
		.open #nav_toggle span:nth-child(2) {
			width: 0;
			left: 50%;
		}
		.open #nav_toggle span:nth-child(3) {
			top: 12px;
			-webkit-transform: rotate(-135deg);
			-moz-transform: rotate(-135deg);
			transform: rotate(-135deg);
		}
	.companymessage .inner{
		padding: 50px 10px;
	}
	.companymessage span{
		font-size: 20px;
	}
	.section_top_about .section_top_header{
		padding: 50px 10px;
	}
	.top_about_list{
		padding: 50px 10px;
	}
	.top_about_item{
		width: 445px;
		margin-right: 0px;
		margin-bottom: 10px;
	}

	.top_staff_list{
		padding: 50px 10px;
	}
	.section_top_staff .section_top_header{
		padding: 50px 10px;
	}
	.top_staff_item{
		width: 445px;
		margin-right: 0px;
		margin-bottom: 10px;
	}
	.section_top_blog .section_top_header{
		padding: 50px 10px;
	}
	.top_blog_list{
		padding: 50px 10px;
	}
	.top_blog_item{
		width: 445px;
		margin-right: 0px;
		margin-bottom: 10px;
	}
	.section_top_banner{
		padding: 50px 10px;
	}
	.banner a{
		margin-right: 0px;
	}
/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
	footer{
		padding: 50px 10px;
	}
	.footer_logo{
		margin-bottom: 20px;
	}
	footer .footer_inner ul{
		display: block;
	}
	footer .footer_inner ul li{
		padding: 10px;
		margin-right: 0px;
		text-align: center;
		border-top: 1px solid #3fa5f5;
    border-left: 1px solid #3fa5f5;
    border-right: 1px solid #3fa5f5;
	}
	footer .footer_inner ul li:last-child{
		border-bottom: 1px solid #3fa5f5;
	}
	
/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
	.main_sub{
		padding: 50px 10px;
	}
	.detail_service .text_wrap{
		width: 100%;
		padding: 0px;
	}
	.detail_service .img_wrap{
		width: 100%;
		padding: 0px;
	}
	.detail_service .text_wrap .inner{
		width: 100%;
	}
	.detail_service .text_wrap .inner::before{
		content: '';
    position: none;
    top: initial;
    left: initial;
    width: initial;
    height: initial;
    border: initial;
	}
	.detail_service .text_wrap .inner img{
		margin-bottom: 20px;
	}
	.contents_entry{
		padding: 50px 10px;
	}
/*--------------------------------------------------------------
# staffinterview_box
--------------------------------------------------------------*/
	.detail_profile{
		flex-direction: initial;
    align-items: initial;
	}
	.detail_profile .img_wrap{
		width: 100%;
	}
	.detail_profile .text_wrap{
		width: 100%;
    margin-right: 0%;
	}
	.box_interview .img_wrap{
		width: 100%;
		margin-bottom: 20px;
	}
	.box_interview .text_wrap{
		width: 100%;
    padding: 0px;
	}
	.last td:last-child {
    border-bottom: solid 1px #ccc;
    width: 100%;
  }
  .tblbox {
    width: 100%;
  }
  .tblbox th,
  .tblbox td {
		border-bottom: none;
		display: block;
  }
	.information_page .contents_wrap .tblbox th{
		width: 100%;
	}
	.nav-links{
		display: none;
	}
	.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous{
		width: 100%;
		padding: 15px;
		margin-bottom: 10px;
	}
	.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next{
		width: 100%;
		padding: 15px;
	}
		.banner{
		display: block;
	}
	.banner a{
		display: block;
		margin-bottom: 15px;
		width: 100%;
		text-align: center;
	}
	.banner a:last-child{
		margin-bottom: 0px;
	}
	.borderbox h2{
		padding: 45px;
		font-size: 20px;
	}
	.office_image{
		display: block;
	}
	.office_image img{
		width: 100%;
		margin-right: 0px;
		margin-bottom: 20px;
	}
	.information_page .contents_wrap .tblbox th{
		width: 100%;
	}
	.navi-box{
		display: block;
	}
	.navi_bottom{
		margin-right: 0px;
		margin-bottom: 20px;
	}
	.navi_bottom:last-child{
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 480px) {
	.nav-links{
	display: none;
}
	.dn{
		display: none;
	}
	.archive_stafflist .inner{
		display: block;
	}
	.archive_stafflist .inner .list{
		width: 100%;
		margin-right:0px;
	}
	
	.archive_newslist .inner{
		display: block;
	}
	.archive_newslist .inner .list{
		width: 100%;
		margin-right:0px;
	}
}